$primary-font-style: "Marck Script", cursive;
$secondary-font-style: "Roboto", sans-serif;

$background-color: #078032;
$primary-text-color: #fff;

// $accent-btn-color:rgb(195,169,89);
// $hover-btn-color: #81c5ff;

