<div class="contacts-wrap">
  <div class="container formSides">
    <div class="leftSide-contacts">
      <h2 class="form-title">
        Sign Up the form to get
        <span class="accent-text">a free consultation</span> with our manager
      </h2>
      <div class="form-wrap">
        <form id="form" class="form">
          <label for="formName" class="label"
            >Full Name:
            <input
              type="text"
              id="formName"
              name="formName"
              value=""
              class=""
              required
            />
          </label>
          <label for="formEmail" class="label"
            >Email:
            <input
              type="email"
              id="formEmail"
              name="formEmail"
              value=""
              class=""
              required
            />
          </label>
          <label for="formPhone" class="label">
            Phone number:
            <input
              type="tel"
              id="formPhone"
              name="formPhone"
              value=""
              class=""
              required
            />
          </label>
          <label for="formAddress" class="label"
            >Address:
            <input
              type="text"
              id="formAddress"
              name="formAddress"
              value=""
              class=""
              required
            />
          </label>
          <div class="custom-dropdown">
            <input class="dropdown-toggle-footer"  name='inputServices' id="inputServices" placeholder="Choose a service" required></input>
            <div class="dropdown-content-footer is-hidden">
              <div class="dropdown-item" data-local="footer">Bookkeeping</div>
              <div class="dropdown-item" data-local="footer">Payroll</div>
              <div class="dropdown-item" data-local="footer">Financial analysis</div>
              <div class="dropdown-item" data-local="footer">Tax preparation</div>
              <div class="dropdown-item" data-local="footer">Legal services</div>
              <div class="dropdown-item" data-local="footer">Company Formation</div>
            </div>
          </div>

          <button type="submit" class="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="rightSide-contacts"></div>
  </div>

  <footer class="footer">
      <div class="footer-contacts">
        <address class="address">
          <ul class="footer-list list">
            <li class="footer-list-item">
              Address
              <a
                href="https://www.google.com/maps/place/%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80+%D0%9B%D0%B5%D1%81%D1%96+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%BA%D0%B8,+26,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4265807,30.5361971,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4cf0e033ecbe9:0x57a4dffefec77da0!8m2!3d50.4265807!4d30.5383858"
                target="_blank"
                rel="noopener noreferrer"
                class="footer-link-address link"
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                </a
              >
            </li>
            <li class="footer-list-item">
              Email
              <a
                href="mailto:lorem@lorem.com"
                class="footer-list-link link"
                lang="en"
                ><svg class="footer-icon" width="16" height="12">
                  <use href="./images/icons.svg#icon-envelope"></use>
                </svg> <span>Lorem@lorem.com</span> </a
              >
            </li>
            <li class="footer-list-item">
              Phone
              <a href="tel:+380961111111" class="footer-list-link link"
                >
                <svg class="footer-icon  width="10" height="16">
                  <use href="./images/icons.svg#icon-smartphone"></use>
                </svg><span>+123456789098</span> </a
              >
              <a href="tel:+380961111111" class="footer-list-link link"
                ><svg class="footer-icon" width="10" height="16">
                  <use href="./images/icons.svg#icon-smartphone"></use>
                </svg> <span>+380456789098</span> </a
              >
            </li>
          </ul>
      </address>
          <div class="footer-social">
            <ul class="footer-social-list list">
              <li class="footer-social-item">
                <a href="" class="footer-social-link link">
                  <svg class="footer-social-icon" width="60" height="60">
                    <use href="./images/icons.svg#icon-instagram-2"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social-item">
                <a href="" class="footer-social-link link">
                  <svg class="footer-social-icon" width="60" height="60">
                    <use href="./images/icons.svg#icon-twitter-1"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social-item">
                <a href="" class="footer-social-link link">
                  <svg class="footer-social-icon" width="60" height="60">
                    <use href="./images/icons.svg#icon-facebook-1"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social-item">
                <a href="" class="footer-social-link link">
                  <svg class="footer-social-icon" width="60" height="60">
                    <use href="./images/icons.svg#icon-linkedin-1"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
     
  </footer>
</div>
