<section class="container services-wrap">

  <!-- <div class="leftSide-services"> -->
    <!--  -->
  <!-- </div> -->

  <!-- <div class="rightSide-services">
    <h3 class="services-title">Our Services</h3>
    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" id="accBtn" class="ac-trigger ac-header">Bookkeeping Services</button>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <h3 class="desc-ac">Accurate Bookkeeping for Financial Clarity</h3>
            <ul class="ac-list">
              <li class="ac-list__item"><span class="accent-text-ac">Financial Data Entry:</span>  Our skilled bookkeepers ensure that every financial transaction is accurately recorded, maintaining a real-time snapshot of your company's financial health. </li>
              <li class="ac-list__item"><span class="accent-text-ac">Accounts Payable and Receivable:</span> We streamline your accounts payable and receivable processes, ensuring timely payments and efficient collections.</li>
              <li class="ac-list__item"><span class="accent-text-ac">Bank and Credit Card Reconciliation:</span> Leave the tedious task of reconciling bank and credit card statements to us. We ensure that your records align with actual transactions.</li>
              <li class="ac-list__item"><span class="accent-text-ac">Expense Tracking:</span> We keep a close eye on your expenses, categorizing and tracking them meticulously to provide you with a clear breakdown of your financial outflows.</li>
              <li class="ac-list__item"><span class="accent-text-ac">Financial Reporting:</span> Our team prepares detailed financial reports, such as income statements, balance sheets, and cash flow statements, allowing you to gain valuable insights into your business's performance. </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" id="accBtn" class="ac-trigger">Payroll Services</button>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <h3> Efficient Payroll  Management for Contented Employees</h3>
            <ul class="ac-list">

              <li>Employee Data Management: We maintain accurate and up-to-date records of your employees, ensuring that all necessary details are securely organized.</li>
              <li>Payroll Processing: Our experts handle the entire payroll process, from calculating wages and salaries to factoring in bonuses, commissions, and deductions.</li>
              <li>Tax Withholding and Reporting: We ensure that payroll taxes are accurately withheld from employee paychecks and promptly remitted to the appropriate authorities. Additionally, we prepare and file payroll tax reports on your behalf.</li>
              <li>Direct Deposit and Payslip Generation: Our services include setting up convenient direct deposit options for your employees, along with providing detailed payslips for transparent record-keeping.</li>
              <li>Compliance and Regulatory Adherence: GreenWall Group stays abreast of all payroll-related regulations and compliance requirements, guaranteeing that your payroll practices adhere to legal standards.</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button"id="accBtn"  class="ac-trigger">Tax Preparation Services</button>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <h3>Accurate Tax Preparation for Maximum Returns</h3>

            <ul class="ac-list">
              <li>Comprehensive Tax Review: Our tax specialists conduct a comprehensive review of your financial records to identify potential deductions, credits, and tax-saving opportunities.</li>
              <li>Accurate Tax Preparation: We prepare your tax returns meticulously, ensuring that every detail is accurate and compliant with the latest tax laws.</li>
              <li>Timely Filing: GreenWall Group takes the stress out of tax deadlines by ensuring that your tax returns are filed promptly and in accordance with all relevant regulations.</li>
              <li>Intuit Tax Software Integration: Leveraging Intuit's powerful tax software, such as ProSeries, ProConnect, and Lacerte, we enhance the efficiency and accuracy of our tax preparation processes.</li>
              <li>Tax Planning Services: Beyond tax preparation, we offer strategic tax planning to help you minimize your tax liabilities and optimize your financial position for the future.</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" id="accBtn" class="ac-trigger">Financial Consulting Services</button>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <h3>Empowering Your Financial Vision</h3>
            <ul class="ac-list">
              <li>Financial Analysis: Our financial consultants conduct comprehensive analyses of your company's financial health, identifying strengths, weaknesses, and areas for improvement.</li>
              <li>Budgeting and Forecasting: We help you create realistic budgets and accurate financial forecasts to ensure a solid financial foundation for your business's growth.</li>
              <li>Cash Flow Management: Our experts develop strategies to improve cash flow and working capital, ensuring your business remains financially stable.</li>
              <li>Investment and Capital Allocation: We assist you in making sound investment decisions and optimizing the allocation of capital for maximum returns.</li>
              <li>Risk Assessment and Management: Our financial consultants assess potential risks to your business and develop risk management strategies to protect your assets.</li>
              <li>Financial Goal Setting: GreenWall Group works with you to define clear financial goals and develop actionable plans to achieve them.</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button"  id="accBtn" class="ac-trigger">Legal Services</button>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <h3>Your Shield in Legal Matters</h3>
            <ul class="ac-list">
              <li>Our legal consulting services go beyond providing legal solutions; we act as strategic advisors, helping you navigate the legal landscape and make well-informed decisions for your business's growth.</li>
              <li>Intuit Legal Software Integration</li>
              <li>Incorporating advanced legal software, we streamline our legal processes to offer you efficient and reliable legal services. By leveraging technology, we can:</li>
              <li>Manage legal documents securely and conveniently.</li>
              <li>Stay organized with case and contract management tools. Provide real-time updates on legal matters.. </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" id="accBtn" class="ac-trigger">Company Formation Services</button>
        </h2>
        <div class="ac-panel">
          <div class="ac-text">
            <h3>Building Your Vision, Structuring Your Success</h3>
            <ul class="ac-list">
              <li>Business Structure Selection: We assist you in choosing the most suitable business structure, whether it's a sole proprietorship, partnership, limited liability company (LLC), corporation, or others.</li>
              <li>Name Reservation and Registration: Our team helps you reserve and register your business name, ensuring that it aligns with your brand and meets all legal requirements.</li>
              <li>Legal Documentation Preparation: We handle the preparation and filing of all necessary legal documents, ensuring compliance with local regulations.</li>
              <li>Registration with Authorities: GreenWall Group handles the registration process with relevant authorities, such as the government agencies and tax authorities.</li>
              <li>Tax Identification Number (TIN) Acquisition: We assist in obtaining your Tax Identification Number, a critical requirement for business operations.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</div> -->

 <div class="rightSide-services">
  <h3 class="services-title">Our Services</h3>
  <ul class="services-list">
    <li class="services-list__item">
      <div class="overlay-services">
        <h3 class="services-title-list">Bookkeeping</h3>
        <p class="services-text">
          Accurate Bookkeeping for Financial Clarity
        </p>
        <a class="readmore-link" href="#">Read more</a>
      </div>
    </li>
    <li class="services-list__item">
      <div class="overlay-services">
        <h3 class="services-title-list">Payroll</h3>
        <p class="services-text">
          Efficient Payroll  Management for Contented Employees
        </p>
        <a class="readmore-link" href="#">Read more</a>

      </div>
    </li>
    <li class="services-list__item">
      <div class="overlay-services">
        <h3 class="services-title-list">Financial analysis</h3>
        <p class="services-text">
          Empowering Your Financial Vision
        </p>
        <a class="readmore-link" href="#">Read more</a>

      </div>
    </li>
    <li class="services-list__item">
      <div class="overlay-services">
        <h3 class="services-title-list">Tax preparation</h3>
        <p class="services-text">
          Accurate Tax Preparation for Maximum Returns
        </p>
        <a class="readmore-link" href="#">Read more</a>

      </div>
    </li>
    <li class="services-list__item">
      <div class="overlay-services">
        <h3 class="services-title-list">Legal services</h3>
        <p class="services-text">
          Your Shield in Legal Matters
        </p>
        <a class="readmore-link" href="#">Read more</a>

      </div>
    </li>
    <li class="services-list__item">
      <div class="overlay-services">
        <h3 class="services-title-list">Company Formation</h3>
        <p class="services-text">
          Building Your Vision, Structuring Your Success        
        </p>
        <a class="readmore-link" href="#">Read more</a>

      </div>
    </li>
  </ul>
</div>

</section>
</div> 