.wrapper-main {
    min-height: 100%;
}

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.screen {
    position: relative;
}

.page__pagination {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
    display: flex;
    flex-direction: column;
}

.page__bullet {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.455);
    margin: 10px 0;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.page__bullet_active {
    background-color: #fff;
}

.page__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: rgba(9, 57, 8, 0.304);
}

.page__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(68, 225, 65, 0.304);
    cursor: pointer;
}

.slide-link._active{
    color: $background-color;
}